@font-face {
  font-family: "Old School Adventures";
  src: url("/School Adventures.woff") format("woff"),
    url("/OldSchoolAdventures.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

main {
  display: flex;
  gap: 40px;
}

h2 {
  margin-bottom: 1rem;
  font-family: "Old School Adventures";

  &:last-child {
    margin: 0;
  }
}

#sim {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}

.task-list {
  width: 100px;
  text-align: center;
}

.task {
  border: 1px solid;
  text-align: center;
  width: 100px;
}

#statistics {
  border-left: 1px solid;
  padding-left: 40px;
  .metric {
    .label {
      font-weight: bold;
      &:after {
        content: " : ";
      }
    }
  }
}

@import "./Character.scss";
